






.container{
  width: 40%;
  margin: 50px auto;
  text-align: center;
}




input{
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 92%;
}

button{
  background-color: green;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  color:white;
  border: "none";
  border-radius: 5px;
}
